NODE_ENV=development
DATABASE_URL=db_url here

PORT=5000

JWT_REFRESH_SECRET=refresh_secret
JWT_ACCESS_SECRET=access_secret
JWT_RESET_SECRET=reset_secret

# Email configuration
EMAIL_HOST=smtp.example.com
EMAIL_USER=yourmail@gmail.com
EMAIL_PASS=email_pass
